:host {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  padding: 16px 0;
}

.avatar-placeholder {
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  background-color: #ddd;
}

textarea {
  flex: 1;
  resize: none;
  height: 125px;
  font-size: 16px;
  margin-left: 16px;
  padding: 8px;

  &::placeholder {
    color: #aaa;
  }
}
