@import "../../styles/variables";

:host {
  display: block;
  background-color: white;
  padding: 24px;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  color: $secondary-color;
  letter-spacing: 4px;
}

ul.comments-container {
  list-style-type: none;
}
